#-----------------------------------------------------------------------------
# Visual Studio Code Settings
#-----------------------------------------------------------------------------
.vscode/settings.json

#-----------------------------------------------------------------------------
# Jetbrains
#-----------------------------------------------------------------------------
.idea/

